@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div style="height:35px;"></div>
 <div class="jumbotron jumbotron-fluid white">
  <div class="container">
    <h1 class="display-3">Huset Esbjerg</h1>
    <p class="lead">The students ’house’ is Esbjergs place for students and culture located right next to the main library in the center of Esbjerg.
                    It's ideal meeting point for the students of Esbjerg with its many different activities and concerts. </p>
  </div>
</div>

  <div class="row">

  <div class="col-md-8 px-lg-5">

@if (CurrentPage.bannerImage != null && !(CurrentPage.bannerImage is Umbraco.Core.Dynamics.DynamicNull))
{
    var m = Umbraco.Media(CurrentPage.bannerImage);

    <img class="img-fluid" src="@m.Url" alt="@m.UrlName" />
    
}

@if (CurrentPage.HasValue("bannerImage")){ 
    @:<div style="background-color: #@Umbraco.Field("bannerColor");" class="festival-block img-fluid">
 @:<p class="festival-text">@Umbraco.Field("bannerText")</p>
 @:</div>
 @:</div>
 @:<div class="col-md-4">
   
   @:<a class="twitter-timeline" data-lang="da" data-width="340" data-height="413" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/HusetEsbjerg">Tweets by HusetEsbjerg</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 <!--  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhusetesbjerg&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1020731131270541" width="340" height="413" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->

 

 @:</div> 
}
else{
 @:</div>
 @:<div class="col-md-12 text-center">
      @:<a class="twitter-timeline" data-lang="da" data-width="65%" data-height="450" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/HusetEsbjerg">Tweets by HusetEsbjerg</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   @:</div>
}





 
</div><!-- row -->
<br>
 <div class="jumbotron jumbotron-fluid white">
  <div class="container">
   
    <h1 class="display-4">@Umbraco.Field("extraTextField")</h1>
    <p class="lead">@Umbraco.Field("description")</p>
  </div>
</div>
<br>

 <div class="jumbotron jumbotron-fluid white">
  <div class="container">
     <center>
    <h4>COLLABORATORS</h4>
    <br>
     </center>
     <div class="row">
       <div class="col-12">
        @if (Model.Content.HasValue("Collaborators"))
           {
               var imagesList = Model.Content.GetPropertyValue<string>("Collaborators").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
               var imagesCollection = Umbraco.TypedMedia(imagesList).Where(x => x != null);

               foreach (var imageItem in imagesCollection)
               {
                   var link = imageItem.GetPropertyValue("imageLink");
                   var upload = imageItem.GetPropertyValue("imageUpload");
                   var alt = imageItem.GetPropertyValue("alt");
                   <a target="_blank" href="@link">
                       <img class="logoz mx-md-3 px-md-1" alt="@alt" src="@upload" />
                   </a>
               }
           }
       </div>
     </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid white">
   <div class="row">
  <div class="col-md-12">
  <div class="subscribe-container">

    <form action="#" method="post" name="sign up for beta form">
      <div class="header">
         <p>Sign Up For News</p>
      </div>
      <div class="description">
        <p> Follow us, then sign up below to get exclusive access.</p>
      </div>
      <div class="input">
        <input type="text" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
    </form>
   
 
 </div> 
</div>
   </div>
</div>

<!--footer start from here-->
<footer>
 