@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>@Umbraco.Field("pageTitle", recursive: true)</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Viewport Meta Tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://use.fontawesome.com/83873661dc.js"></script>
</head>
<body>
  <!-- --FACEBOOK PAGE  WHICH IS ON RIGHT SIDE- -- >
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1020731131270541";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <!-- ------ HEADER --------- -->
 
 @if (Model.Content.HasValue("carouselImages")){

    var imagesList = Model.Content.GetPropertyValue<string>("carouselImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var imagesCollection = Umbraco.TypedMedia(imagesList).Where(x => x != null);

<text>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    </text>

 for (int i = 0; i < imagesCollection.Count<IPublishedContent>(); i++)
    {
        string indicatoractive = "";
        if (i == 0)
        {
            indicatoractive = "active";
        }

        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class='@indicatoractive'></li>
    }

  @:</ol>
  @:<div class="carousel-inner" role="listbox">

int count = 0;
    string activeclass = "";
 
    foreach (var imageItem in imagesCollection)
    {    
       var alt = imageItem.GetPropertyValue("alt");
        var upload = imageItem.GetPropertyValue("imageSlider");
        if (count == 0)
        {
            activeclass = "carousel-item active";
            count++;
        }
        else
        {
            activeclass = "carousel-item";
        }
 
        <div class='@activeclass'>
            <img class="d-block img-fluid cover" src='@upload' alt='@alt'/>
        </div>
    }


  @:</div>
  
 
  
@:</div>
}
  





<img class="logo-pos img-fluid" src="@Umbraco.Media(Convert.ToString(@Umbraco.Field("logo", recursive: true))).umbracoFile" alt="Esssssbjerg Huset logo" />
</a>
			
			
 <nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-primary spalva ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<a class="invisible" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!--  <div class="row">
      
      <div class="col-12">
          -->
          
    <ul class="navbar-nav navbar-centered px-5">
      <li class="nav-item">
       <a class="nav-link mx-md-4 px-md-5" href="/events"> <i class="fa fa-calendar" aria-hidden="true"></i> Events</a>
      </li>
      <li class="nav-item mx-md-4 px-md-5" >
        <a class="nav-link" href="/cafe"><i class="fa fa-coffee" aria-hidden="true"></i> Cafe</a>
      </li>
      <li class="nav-item mx-md-4 px-md-5">
        <a class="nav-link" href="/cinema"><i class="fa fa-film" aria-hidden="true"></i> Cinema</a>
      </li>
      <li class="nav-item mx-md-4 px-md-5">
        <a class="nav-link" href="/volunteers"><i class="fa fa-users" aria-hidden="true"></i> Volunteers at Huset</a>
      </li>
      <li class="nav-item mx-md-4 px-md-5">
        <a class="nav-link" href="/about"><i class="fa fa-info" aria-hidden="true"></i> About</a>
      </li>
    </ul>
  <!--  </div>
    
    </div>
    -->
  </div>
  
</nav>


 <!-- YOUR CONTENT GOES HERE -->
  <div class="container-fluid">


 @RenderBody()
  



 

<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 footerleft">
        <div class="logofooter"> <a href="/">  <img class="d-block img-fluid cover2" src="@Umbraco.Media(Convert.ToString(@Umbraco.Field("footerLogo", recursive: true))).umbracoFile" alt="Huset Esbjerg"> </a>
</div>
        <p>HUSET ESBJERG</p>
        <p><i class="fa fa-map-pin"></i>Finsensgade 1 
6700 Esbjerg, Denmark</p>
        <p><i class="fa fa-phone"></i> Phone (DK) : +45 7517 4300</p>
        <p><i class="fa fa-envelope"></i> E-mail : huset@tobakken.dk</p>
        
      </div>
      <div class="col-md-4 col-sm-4  paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="/events"> Events</a></li>
          <li><a href="/cafe"> Cafe</a></li>
          <li><a href="/cinema"> Cinema</a></li>
          <li><a href="/volunteers"> Volunteers at Huset</a></li>
          <li><a href="/about"> About us</a></li>
          <li><a href="#"> Cookie Policy</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 col-sm-4 paddingtop-bottom">
        <div class="heading7">Working hours</div>
        <div class="text">
         <p>Monday: Closed</p>
        <p>Tuesday-Friday: 15:00 - 22:00</p>
           <p>Saturday: 18:00 - 23:45</p>
           <p>Sunday: Closed</p>
          </div>
        </div>
      </div>
        <div class="row">
         <div class="fb paddingtop-bottom">
           
            <blockquote class="blockquote d-inline-block"><a class=" white" href="https://www.facebook.com/husetesbjerg" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Follow us on facebook!</a></blockquote>
           <blockquote class="blockquote d-inline-block"><a class=" white" href="https://twitter.com/HusetEsbjerg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Follow us on twitter!</a></blockquote>

          </div>
        </div>
    </div>
  </div>
</div>
<!--Copyright start from here-->
  

    <div class="col-md-12">
      <div class="copyright">
      <p class="mx-3">© 2017 - All Rights with Esbjerg Huset</p>
    </div>
 </div>

</footer>






  
  <!-- JavaScript: placed at the end of the document so the pages load faster -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <!-- Tether -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <!-- Latest compiled JavaScript -->

  <script src="/scripts/bootstrap.min.js"></script>
 
</body>
</html>